# Entorno virtual
analisis_datos_env/
venv/
env/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/

# Archivos de datos temporales
*.log
*.tmp